<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Wafer Fault Detection Application</title>
</head>
<body>

    <h1>Welcome to Wafer Fault Detection Application</h1>

    <!-- Button that redirects to a different link (change 'your_link_here' to the desired URL) 
    <a href="http://127.0.0.1:5000/train">
        <button>Train Model</button>
    </a>-->
	<h3>For Model Training: type '/train' followed by current URL.</h3>
    <p>Hit enter & It will take some time to train it.</p>
</body>
</html>
