<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model is Trained Successfully</title>
</head>
<body>

    <h2>Model is Trained Successfully!</h2>

    <!-- Button that redirects to a different link (change 'your_link_here' to the desired URL) -->
    <a href="http://127.0.0.1:5000/predict">
        <button>Predict Data</button>
    </a>
	<h4>Click on button to upload the test file.</h4>
    
</body>
</html>



